<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Liyat Tesfaye">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/b8b432d7d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./app.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
  </head>
  <body>
    <mat-card  *ngFor="let user of dataSource.data">
      <div  class="container">
          <div class="profile-card">
            <div  class="profile-header">
              <img class="cover-image" [src]="user.cover_image" alt="Cover Image">
                  
              <div class="main-profile">
                      <img class="profile-image" [src]="user.image" >
                          <div class="profile-names">
                            <h1 class="username">{{ user.name }}</h1>
                            <small class="page-title">{{ user.role }}</small>
                        </div>
                  </div>
                  </div>
      
                  <div class="profile-body"><!-- profile body section -->
                      <div class="profile-actions">
                          <button class="btn-hover color-8">Edit Profile</button>
                          <section class="bio">
                              <div class="bio-header">
                                  <i class="fa fa-info-circle"></i>
                                  {{user.email}}
                              </div>
                              <p class="bio-text">
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                              </p>
                          </section>
                      </div>
      
                      <div class="account-info">
                          <div class="data">
                              <div class="important-data">
                                  <section class="data-item">
                                    <i class="fa-brands fa-spotify fa-3x" style="color: #0db701;"></i>
                                    <h3 class="value"> 5B</h3>
                                      <small class="title">Spotify Streams</small>
                                  </section>
                                  <section class="data-item">
                                    <i class="fa-brands fa-itunes fa-3x" style="color: #fa3200;"></i> 
                                    <h3 class="value">35M</h3>
                                      <small class="title">iTunes Streams</small>
                                  </section>
                                
                                  <section class="data-item">
                                    <i class="fa-solid fa-record-vinyl fa-3x"></i> 
                                    <h3 class="value">15B</h3>
                                      <small class="title">Album Sales</small>
                                  </section>
                              </div>
                              <!-- <div class="other-data">
                                  <section class="data-item">
                                      <h3 class="value">41K</h3>
                                      <small class="title">Likes</small>
                                  </section>
                                  <section class="data-item">
                                      <h3 class="value">12K</h3>
                                      <small class="title">Comments</small>
                                  </section>
                                  <section class="data-item">
                                      <h3 class="value">2K</h3>
                                      <small class="title">Saved</small>
                                  </section>
                              </div> -->
                              <div class="other-data">
                                <section class="data-item">
                                  <i class="fas fa-microphone-alt"></i>
                                  <h3 class="value">50</h3>
                                  <small class="title">Songs Released</small>
                                </section>
                                <section class="data-item">
                                  <i class="fas fa-music"></i>
                                  <h3 class="value">100K</h3>
                                  <small class="title">Monthly Listeners</small>
                                </section>
                                <section class="data-item">
                                  <i class="fas fa-play-circle"></i>
                                  <h3 class="value">1M</h3>
                                  <small class="title">Total Plays</small>
                                </section>
                              </div>
                          </div>
      
                          <div class="social-media">
                              <span>Follow me in</span>
                              <a href="" class="media-link"><i class="fab fa-facebook-square"></i></a>
                              <a href="https://twitter.com/MammadSahragard" class="media-link"><i class="fab fa-twitter-square"></i></a>
                              <a href="https://www.linkedin.com/in/mohammadsahragard/" class="media-link"><i class="fab fa-linkedin"></i></a>
                              <a href="https://www.instagram.com/mammad.sahragard/" class="media-link"><i class="fab fa-instagram-square"></i></a>
                              <a href="https://github.com/MohammadSahragard" class="media-link"><i class="fab fa-github-square"></i></a>
                          </div>
      
                          <div class="last-post">
                              <div class="post-cover">
                                  <span class="last-badge">Albums</span>
                                  <img  class="post-image"   [src]="user.album_cover">
                                  <h3 class="post-title" style=" font-size: 28px;
                                  font-weight: bolder;">After Hour</h3>
                                  <button class="post-CTA">View</button>    
                                </div>
                              </div>
                      </div>
                </div>
            </div>
       
          </div>
     
      
      </mat-card>  
  </body>
</html>

  